body,html{
    margin:0;padding:0;
    height:100%;width:100%;
    font-family:'Poppins',sans-serif;
    overflow-x:hidden;
}

/* PAGE 1 */
#page1{
    height:100vh;
    background: linear-gradient(135deg,#f8ff9a,#116aae);
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align:center;
}

#startBtn{
    padding:15px 30px;
    font-size:24px;
    border:none;
    border-radius:12px;
    background:#230d7c;
    color:white;
    cursor:pointer;
}

/* PAGE 2 */
#page2{
    background: linear-gradient(135deg,#080808,#116aae);
    min-height:100vh;
    width:100%;
    overflow:hidden;
    display:none;
    text-align:center;
    padding:30px 0;
    position:relative;
}

.title{
    font-size:40px;
    color:white;
    text-shadow:2px 2px 10px black;
}

/* TYPEWRITER */
#msg{
    color:white;
    font-size:24px;
    width:80%;
    margin:20px auto;
    border-right:3px solid white;
    white-space:nowrap;
    overflow:hidden;
}

/* Slideshow - single frame */
.slideshow{
    width:400px;
    height:300px;
    margin:20px auto;
    border-radius:15px;
    overflow:hidden;
    position:relative;
    box-shadow:0 0 15px white;
}
.slideshow img{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    object-fit:cover;
    opacity:1;
    transition:opacity 1s ease-in-out;
}
.slideshow img.active{
    opacity:0;
}
.slideshow img.active1{
    opacity:0;
}


/* Frame Image */
.frame img{
    width:220px;
    height:220px;
    border-radius:15px;
    object-fit:cover;
    box-shadow:0 0 10px white;
}

/* Hearts */
.heart{
    position:absolute;
    font-size:25px;
    color:pink;
    animation:float 6s linear infinite;
}
@keyframes float{
    from{transform:translateY(0);}
    to{transform:translateY(-100vh);}
}

/* Stars */
.star{
    position:absolute;
    width:7px;height:7px;
    background:yellow;
    border-radius:50%;
    animation:fall 4s linear infinite;
}
@keyframes fall{
    from{top:-10px;}
    to{top:100vh;}
}